/*Connecting fonts*/
@font-face {
	font-family: "Comfortaa-Light";
	src:  url("fonts/Comfortaa-Light.ttf");
}
@font-face {
	font-family: "Comfortaa-Regular";
	src:  url("fonts/Comfortaa-Regular.ttf");
}
@font-face {
	font-family: "Comfortaa-Bold";
	src:  url("fonts/Comfortaa-Bold.ttf");
}

/*Color palette

	LIGHT - #eeede7, white(#fff)
	DARK - #333, black(#000)
	CONTRAST - #b12650, #00adc7
	ADDITIONAL - #dfc88b

*/

* {
	margin:  0;
	padding:  0;
	box-sizing: border-box;
}

body {
	color:  #333;
	background-color:  #eeede7;
	font-family:  Comfortaa-Regular;
}

/*Scrollbar*/
*::-webkit-scrollbar {
	width: 12px;
	height: 12px;
}
*::-webkit-scrollbar-track {
	background: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: #555;    /* цвет плашки */
  border-radius: 5px;       /* закругления плашки */
  border: 2px solid #eeede7;  /* padding вокруг плашки */
}

/*Menu*/
ul {
	list-style: none;
	display: flex;
}

ul li a {
	padding: 10px;
	border-bottom: solid 2px transparent;
}

ul li a:hover {
	text-decoration: none;
	color: #dfc88b;
	border-bottom: solid 2px #dfc88b;
}

ul li a.current {
	color: #dfc88b;
	border-bottom: solid 2px #dfc88b;
}

/*Link*/
a {
	text-decoration: none;
	cursor:  pointer;
	color:  white;
	outline:  none;
	transition: .2s;
}

a:hover, a:focus {
	text-decoration: underline;
}

/*Text*/
p {
	padding:  5px 0;
}

/*hr*/
hr {
	margin:  10px 0;
	border:  solid 1px white;
}

/*Img*/
img {
	max-width:  100%;
	max-height:  100%;
	object-fit: cover;
}

img.social {
	width: 50px;
	height: 50px;
}

/*Form*/
input::-webkit-input-placeholder {
	transition: .2s;
	font-style: italic;
	color: rgba(0,0,0, 0.3);
}

input, button {
	outline: none;
	height:  40px;
	transition: .2s linear;
	padding: 0 10px;
	overflow: hidden;
	font-size:  14pt;
	border:  solid 1px #333;
	background-color:  #eeede7;
	font-family: Comfortaa-Regular;
	box-shadow: 0 0 1px 1px rgba(0,0,0,0);
}

input:focus::-webkit-input-placeholder {
	color: transparent;
}

input[type=button], button {
	border:  none;
	color:  white;
	cursor:  pointer;
	background-color: #b12650;
}

input[type=button]:hover, button:hover {
	background-color: rgb(190,38,80);
}

input[type=button]:active, button:active {
	background-color: rgb(150,38,80);
}

/* Containers */
div.content {
	max-width:  1200px;
	margin: 0 auto;
}
div.container {
	border:  solid 1px rgba(0,0,0,0.1);
	background-color:  white;
	padding:  20px;
	overflow-x: hidden;
	overflow-y: auto;
}

/*Background*/
div.background {
	position: absolute;
	z-index: -1;
	width:  100%;
	height:  100%;
	top: 0px;
	left: 0px;
	overflow: hidden;
	filter: brightness(60%);
}

div.background img {
	filter: blur(5px);
	width:  100%;
}

/*Heading*/
div.head {
	font-size:  20pt;
	margin:  30px 0 20px;
	padding-bottom:  10px;
	border-bottom: solid 3px #333;
}

/*Header*/
header {
	position:  relative;
	color:  white;
}
/*Logo*/
div.logo {
	text-align: center;
	width: 76px;
	height:  40px;
	transition:  .2s;
	background-image:  url("images/logo.png");
	background-size:  100% 100%;
}
div.logo:hover {
	background-image:  url("images/logo_hover.png");
}
/*Search*/
div.search input[type=search] {
	border:  solid 1.5px #00adc7;
	border-radius: 5px 0 0 5px;
}
div.search button {
	background-color: #00adc7;
	border-radius: 0 5px 5px 0;
	padding:  0px 15px;
}
div.search button:before {
	content: "\f002";
	font-family: FontAwesome;
	font-size: 16px;
}
/*Footer*/
footer {
	border-top:  solid 3px #222;
	background-color:  #333;
	padding-top: 10px;
	color:  white;
}

footer div.bottom {
	background-color:  #222;
}

/*Horizontal slider*/
div.horizontal-slider {
	overflow-y: hidden;
	overflow-x: auto;
}

div.preview_novel div.bottom {
	position: relative;
	top: 80%;
	transition: .2s;
}

div.preview_novel:hover div.top {
	display: none;
}

div.preview_novel:hover div.bottom {
	top: 0px;
}

div.paginator {
	cursor: pointer;
	min-width: 30px;
	transition: .2s;
	padding: 5px 10px;
	margin-right: 5px;
	background-color: #00adc7;
}

div.paginator.current {
	background-color: #b12650;
}

div.paginator:hover {
	background-color: #b12650;
}